



body, html {

height: 100%;

}

body {
    margin: 0;
    font-family: 'Montserrat';
}


h1{
    height: 5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); // grid-template-columns: repeat(6, 200px); 
    //grid-gap: 1rem; /*Creates gutters*/

        .card {

            transition: transfrom 1s;
             
            &:hover {             //SO WHEN SOMEONE HOVERS THE ELEMENT WILL FLOAT UPWARDS
                transform: translateY(-5px);
            }

            img {
                width: 100%;
            }

            .info {
                padding:1rem;
            }
        }
}


